.alignCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.marginTop {
    margin-top: 20px;
}

.textAreaSizing {
    height: 200px;
    width: 800px;
}
