.alignCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
}

.hidden {
    display: none;
}

.marginTop {
    margin-top: 20px;
}

.textAreaSizing {
    height: 200px;
    width: 800px;
}

.errorText {
    background-color: red;
}
